---
interface Props {
  tabIndex: number;
  tabName: string;
  isDefault?: boolean;
}

const { tabIndex, tabName } = Astro.props;
const animatePanel = `
      #panel-${tabIndex} {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: 
          max-height 0.9s ease-in-out forwards alternate, 
          opacity 1s ease-in-out forwards alternate,
          transform 1.5s ease-in-out forwards alternate;
        pointer-events: none;
        transform: translateY(-100%);
      }
  
      .tab-root:has(.tab-input-${tabIndex}:checked) #panel-${tabIndex} {
        opacity: 1;
        max-height: max-content; 
        transform: translateY(0);
        pointer-events: auto;
        transform: translateY(0%);
        z-index:-1 forwards alternate;
      }`;
---

<style is:global set:html={animatePanel}></style>

<div
  id={`panel-${tabIndex}`}
  class:list={[
    `tab-content-${tabIndex}`,
    "w-full h-fit max-h-fit",
    "transition-all",
  ]}
>
  <div
    id={`${tabName} title`}
    class:list={[
      "sticky top-0",
      "inline-block w-full p-2",
      "text-xs font-mono italic break-after-all",
      "bg-background/50 border-b border-dashed",
      "opacity-20 hover:opacity-100 transition-all",
    ]}
  >
    {tabName}
  </div>
  <slot />
</div>
