---
interface Props {
  tabIndex: number;
  tabName: string;
  isDefault?: boolean;
}

const { tabIndex, tabName } = Astro.props;
const animatePanel = `
  
      #panel-${tabIndex} {
      transform: translateY(100dvh);
      max-height: 0;
      opacity: 0;
       transition: 
          max-height 0.7s ease-in-out, 
          opacity 1s ease-in-out,
          z-index 0.1s ease-in-out,
          transform 1s ease-in-out;
      }
  
      .tab-root:has(.tab-input-${tabIndex}:checked) #panel-${tabIndex} {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        max-height: 20rem;
        z-index: 0;
        transition: 
          max-height 0.1s ease-in, 
          opacity 0.5s ease-in-out,
          z-index 1s ease-in-out,
          transform 0.5s ease-in-out;
      }
      
      @media (minx-width: 768px) {
        .tab-root:has(.tab-input-${tabIndex}:checked) #panel-${tabIndex} {
          max-height: 20rem;
        }
      
      `;
---

<style set:html={animatePanel}></style>

<div
  id={`panel-${tabIndex}`}
  class:list={[`tab-content-${tabIndex}`, "overflow-y-auto", "relative"]}
>
  <div
    id={`${tabName} title`}
    class:list={[
      "sticky top-0",
      "w-full p-2",
      "break-after-all font-mono text-xs italic",
      "bg-background/50 border-b border-dashed",
      "opacity-20 transition-all hover:opacity-100",
    ]}
  >
    {tabName}
  </div>
  <slot />
</div>
