---
interface Props {
  tabs: string[];
  defaultTab?: number;
}

const { tabs = [] } = Astro.props;
---

<div class="tab-root not-prose">
  <div
    class:list={[
      "flex flex-wrap items-center justify-stretch",
      "rounded-t",
      "border border-secondary-bg bg-secondary-bg",
      "divide-x-0 divide-y sm:divide-x sm:divide-y-0 divide-muted/50",
    ]}
  >
    {
      tabs.map((tab, index) => (
        <div
          class:list={[
            `${tab}-tab-${index}`,
            "grow",
            "w-full sm:w-fit py-1",
            "has-checked:bg-theme/20 text-center",
            "transition-colors duration-300",
            "text-xs sm:text-sm",
          ]}
        >
          <input
            id={tab}
            name={`tab-group`}
            type="radio"
            class={`tab-input-${index} peer hidden`}
            checked={index === 0}
          />
          <label
            for={tab}
            class:list={[
              "px-3 py-1 lg:px-4 lg:py-2",
              "text-secondary hover:text-theme",
              "transition-all duration-300",
              "first:rounded-tl last:rounded-tr",
              "peer-checked:text-theme cursor-pointer",
            ]}
          >
            {tab}
          </label>
        </div>
      ))
    }
  </div>
  <div
    class:list={[
      "relative",
      "w-full h-full min-h-64 md:min-h-80",
      "border-b border-x border-secondary-bg rounded-b",
      "not-prose",
      "overflow-y-hidden",
      "grid",
    ]}
  >
    <slot />
  </div>
</div>
